body,p,span{
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
font-family: 'Rubik', sans-serif;
}
/*Start Our Custom Css*/
.main-header .container-fluid,
.slider-section.container-fluid{
	max-width: 1480px;
}
.slider-section.container-fluid{
	max-width: 1480px;
}
body .btn-primary {
    background-color: #E83B3E !important;
    border-color: #E83B3E !important;
    padding: 12px 40px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}
body .btn-primary:hover{
	border-color: #111;
}
body .btn-primary::after{
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width:0;
	height: 100%;
	background-color: #111 !important;
	border-color:#111 !important;
	z-index: -1;
}
body .btn-primary:hover:after{
	width: 100%;
	transition: .6s;
	img{
		max-width: 100%;
	}
}
/*menu*/
.our-primary-menu{
}
ul.our-primary-menu li{}
ul.our-primary-menu li a{
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	color: #111;
	font-weight: 500;
}
ul.our-primary-menu li a:hover{
	text-decoration: none;
	color: #E83B3E;
}
ul.our-primary-menu li{
	position: relative;
}
ul.our-primary-menu li ul{
	list-style-type: none;
	position: absolute;
	top: 160%;
	left: 0;
	width: 200px;
	background: #fafafa;
	padding-left: 0;
	padding: 10px;
	opacity:0;
	visibility:hidden;
	transition:all .6s ease-in-out;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0, .2);
}
ul.our-primary-menu li:hover ul{
	opacity:1;
	visibility: visible;
	top:100%;
}
ul.our-primary-menu li ul li{
	flex-direction: column;
}
ul.our-primary-menu li ul li a{}
.header-info{}
.header-search{
	width: 60px;
	font-size: 20px;
	text-align:center;
	border-right: 1px solid #ddd;
	margin-right: 20px;
}
.header-call{
	width: 220px;
}
.header-call-info{}
.header-call-icon span {
    font-size: 32px;
    color: #E83B3E;
}
}
.header-call-info a{
    color: black;
    font-weight: 600;
    display: inline-block;
}
.header-button{}
/*Slider start*/
.slider-content-wrap{
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
}
.social-icon{
	position: absolute;
	left: 0;
	bottom:0;
}
.slider-content h6{
	color: #E83B3E;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 10px;
}
.slider-content h2{
	font-size: 60px;
	font-weight: 500;
	margin-bottom: 30px;
}
.slider-content p{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 50px;

}
.slider-section{
	background: url(img/main-banner2.jpg) no-repeat top center;
	background-size: cover;
}
.social-icon{
	margin-right: 50px;
}
.social-icon ul{
	list-style-type: none;
}
.social-icon ul li{
	padding-left: 0;
}
.social-icon ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 0px 10px;
	color: #111;

}
.social-icon ul li span{
	display: inline-block;
	font-size: 18px;
	margin-right: 40px;
	position: relative;
}
.social-icon ul li span::after{
	content: " ";
	width: 30px;
	height: 1px;
	background: #111;
	position: absolute;
	left: 0;
	top: 50%;
	left: 80px;


}
/*part 2 start*/
.logo-section{
	border-bottom: 1px solid #ddd;
}
.claint-logo{}
.claint-logo ul{
	list-style: none;
	padding-left: 0;
}
.claint-logo ul li{}
.claint-logo ul li a{}

/*about section*/
.about-image{
	position: relative;
}
.about-section-text{
	position: absolute;
	right: 100px;
	bottom: 0;
	background: url(img/shape.png);
	height: 200px;
	width: 200px;
	background-size: contain;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-section-text h2{}
.about-section-text p{}
.about-image{}
.about-image img{}
.finix-text{}
.finix-text h6 {
    font-size: 18px;
    color: #E73C3E;
    font-weight: 400;
}
.finix-text h2 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}
.finix-text p {
    color: #606060;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 400;
}
.finix-text strong{
	font-size: 18px;
	font-weight: 400;
	color: #606060;
}
.finix-text ul{
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}
.finix-text ul li{
	padding: 5px 0;
}
.finix-text ul li::before{
	content: "\f00c";
	font-family: 'Font Awesome 5 free';
	font-weight: 600;
	margin-right: 10px;
    font-size: 15px;
    color: #E73C3E;
    display: inline-block;
}